@charset 'utf-8';

*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}
body{
  height: 100vh;
  /* main 중앙정렬하기 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* -------------------------- */

main{
  width: 300px;
  height: 300px;
  overflow: hidden;

  position: relative;
}
ul.slider{
  width: 1500px;
  height: 300px;
  display: flex;
  /* absolute : height값이 사라짐 -> 꼭 지정해두기 */
  position: absolute; 
  top: 0;
  left: 0;
  transition: 0.5s;

  li{
    width: 100%;

    img{
      width: 100%;
    }
  }
}

button{
  color: rgb(94, 79, 77);
}

.btn_wrap{
  button{
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    margin: auto 1rem;
    padding: 0.5rem 2.1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    /* 클릭-이벤트 무효화 하기  */
    pointer-events: auto;
  }
}

.palyer{
  *{
    font-size: 1.1rem;
    font-weight: 600;
    margin: auto 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    outline: none;
  }
}
